.the-gallery-section-main {
  
  
  
  padding: 100px 0;

  .the-gallery-section-container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .the-gallery-section {
    
    

    h1 {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 157.3px;
      font-weight: 900;
      line-height: 136.85px;
      letter-spacing: -0.06em;
      text-align: center;
      color: #1b1b1b;
      margin: 0 0 -100px 0;
      position: relative;
    }

    .the-gallery-section-image {
      
      
      img {
        display: block;
      }
    }
  }
}
