.sample-section-main {
  padding: 0 0 100px 0;

  .sample-section-container {
    max-width: 1003px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .sample-section {
    h1 {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 148px;
      font-weight: 900;
      line-height: 109.86px;
      letter-spacing: -0.06em;
      text-align: center;
      color: #1b1b1b;
    }

    .sample-section-images-grd {
      margin: 60px 0 0 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 50px;

      img {
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        max-height: 300px;
        display: block;
      }
    }
  }
}
