.qvarter-image-section-main {
  padding: 100px 0;

  @media (max-width:1024px) {
    padding: 57px 0;
  }

  .qvarter-image-section-container {
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .qvarter-image-section {
    display: flex;
    gap: 20px;
    justify-content: start;

    @media (max-width:1024px) {
      gap: 11px;
      justify-content: center;
    }

    img {
      min-width: 436px;
      min-height: 625px;

      @media (max-width:1024px) {
        min-width: auto;
        max-width: 252px;
        min-height: 362px;
      }
    }

    .qvarter-image-side2 {
      margin: 0 1px 0 0;

      .qvarter-image-side2-alignment {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width:1024px) {
          gap: 11px;
        }

        img {
          min-width: 630px;

          @media (max-width:1024px) {
            min-width: 365px;
          }
        }

        .qvarter-image-side2-alignment1 {

          img {
            min-height: 303px;

            @media (max-width:1024px) {
              min-height: auto;
              max-height: 176px;
            }
          }
        }

        .qvarter-image-side2-alignment2 {

          img {
            min-height: 302px;

            @media (max-width:1024px) {
              min-height: auto;
              max-height: 175px;
            }
          }
        }
      }
    }
  }
}