.hometownheroes-pera-section-main {
  
  

  .hometownheroes-pera-section-container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .hometownheroes-pera-section {
    
    
    display: flex;
    align-items: start;
    gap: 60px;

    .hometownheroesbannerimage-div-main {
      flex: 1 1;
      

      img {
        min-width: 476px;
        max-width: 476px;
        min-height: 648px;
        max-height: 648px;
        display: block;
      }
    }

    .hometownheroesbanner-peraghraph-div-main {
      flex: 2 2;
      

      p {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        
        color: #1b1b1b;
        max-width: 744px;
      }
    }
  }
}
