.home-town-heroes-section-main {
  
  
  
  padding: 0 0 87px 0;

  .home-town-heroes-section-container {
    max-width: 1128px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .home-town-heroes-section {
    
    

    h1 {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 138px;
      font-weight: 900;
      line-height: 120.06px;
      letter-spacing: -0.06em;
      text-align: center;
      color: #1b1b1b;
    }

    img {
      
      max-height: 351px;
      min-height: 351px;
      display: block;
      margin: 5px 0;
    }

    span {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
      color: #1b1b1b;
      display: block;
    }
  }

  .home-town-heroes-section-pera {
    
    
    margin: 84px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;

    img {
      min-width: 446px;
      max-width: 446px;
      min-height: 632px;
      max-height: 632px;
      display: block;
    }

    p {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      
      color: #1b1b1b;
    }
  }
}
