.the-appearl-section-main {
  
  
  
  padding: 0 0 100px 0;

  .the-appearl-section-container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .the-appearl-section {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;

    h1 {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 126.28px;
      font-weight: 900;
      line-height: 109.86px;
      letter-spacing: -0.06em;
      text-align: center;
      color: #1b1b1b;
      margin: 0 0 28px 0;
    }

    p {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
      color: #1b1b1b;
      max-width: 972px;
    }
  }

  .collaborations-flx-main {
    
    
    display: flex;
    justify-content:center;
    align-items: start;
    gap: 150px;

    .collaborations-flx-items1 {
      h2 {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 126.28px;
        font-weight: 900;
        line-height: 109.86px;
        letter-spacing: -0.06em;
        text-align: center;
        color: rgba(27, 27, 27, 1);
        margin: 0 0 30px 0;
        max-width: 432px;
        word-break: break-all;
      }

      .collaborations-image-div {
        img {
          min-width: 432px;
          max-width: 432px;
          min-height: 104px;
          max-height: 104px;
        }

        p {
          margin: 5px 0 0 0;
          text-align: center;
          font-family: "Big Shoulders Display", sans-serif;
          font-weight: 700;
          line-height: 30px;
          font-size: 20px;
          max-width: none;
        }
      }

      .collaborations-image-div {
        img {
          min-width: 432px;
          max-width: 432px;
          min-height: 126px;
          max-height: 126px;
        }
      }

      p {
        margin: 30px 0 0 0;
        text-align: center;
        font-family: "Big Shoulders Display", sans-serif;
        font-weight: 700;
        line-height: 30px;
        font-size: 20px;
        max-width: 432px;
      }
    }
  }
}
