.thebook-section-main {
  padding: 0 0 100px 0;

  .thebook-section-container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .thebook-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;

    h1 {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 148px;
      font-weight: 900;
      line-height: 128.84px;
      letter-spacing: -0.06em;
      text-align: right;
      color: #1b1b1b;
      max-width: 266px;
    }

    .hometownheroescoffeewithpaperimage {
      img {
        min-width: 354px;
        max-width: 354px;
        min-height: 587px;
        max-height: 587px;
        display: block;
      }
    }

    p {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;

      color: #1b1b1b;
      max-width: 484px;
    }
  }
}
