.herobanner-main {
  
  
  padding: 67px 0 0 0;
  

  .herobanner-container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .herobanner-hometown-div {
    display: flex;
    justify-content: center;
    align-items: end;
    
    
    margin: 0 0 69px 0;
    gap: 110px;

    @media (max-width: 1024px) {
      gap: 63px;
    }

    h1 {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 174px;
      font-weight: 900;
      line-height: 145px;
      letter-spacing: -0.06em;
      
      color: #1b1b1b;
      max-width: 426px;

      @media (max-width: 1024px) {
        font-size: 100px;
        line-height: 83.15px;
      }
    }

    p {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 54.1px;
      font-weight: 700;
      line-height: 56.27px;
      
      color: #1b1b1b;
      max-width: 304px;

      @media (max-width: 1024px) {
        font-size: 30px;
        line-height: 32.27px;
        max-width: 174px;
      }
    }

    img {
      display: block;
      
      min-width: 320px;
      max-width: 320px;
      min-height: 428px;
    }
  }

  .auktion-date-div-main {
    

    .fundamental-peragraph-main {
      text-align: center;
      margin: 69px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        color: #000000;
        max-width: 961px;
      }
    }
  }
}
