header {
  position: sticky;
  z-index: 9;
  top: 0;
  left: 0;
  background: #f6f1e5;
  padding: 40px 0;

  @media (max-width: 1024px) {
    padding: 23px 11px;
  }

  .header-content-alignment {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo-main {
      a {
        svg {
          display: block;
          max-width: 228px;
          max-height: 20px;

          @media (max-width: 1024px) {
            max-width: 187px;
            max-height: 16px;
          }
        }
      }
    }

    .header-content-main {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 38px;

      @media (max-width: 1024px) {
        gap: 22px;
        justify-content: end;
      }

      a {
        text-decoration-line: none;
        color: #000000;
        p {
          font-family: "Big Shoulders Inline Text", sans-serif;
          font-size: 20px;
          font-weight: 500;
          line-height: 18px;

          @media (max-width: 1024px) {
            font-size: 12px;
            line-height: 10px;
          }
        }
      }
    }
  }
}
