footer {
  padding: 0 0 30px 0;

  @media (max-width:576px) {
    padding: 0 0 20px 0
    ;
  }

  .footer-container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer-last-content-main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    @media (max-width: 576px) {
      display: block;
    }

    h1 {
      text-align: center;
      color: #1b1b1b;
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 98.05px;
      font-weight: 900;
      line-height: 85.3px;
      letter-spacing: -0.06em;
      max-width: 700px;
      margin: 0 0 50px 0;
    }

    .contact-div {
      text-align: center;

      span {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #1b1b1b;
      }

      p {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #1b1b1b;
        margin: 20px 0 0 0;
      }

      a {
        text-decoration-line: none;
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #1b1b1b;
        display: block;
      }
    }

    .impressum-and-datenschutz-links-main {
      margin: 69px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 576px) {
        margin: 60px 0 0 0;
        justify-content: start;
      }

      a {
        text-decoration-line: none;
        color: #1b1b1b;
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 16.62px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        min-width: 96px;

        @media (max-width:576px) {
          text-align: left;
        }
      }
    }

    .jesam-icon-div-main {
      margin: 69px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 576px) {
        margin: 2px 0 0 0;
        display: none;
      }
      a {
        text-decoration-line: none;
      }
    }

    .jesam-icon-mobile-div-main {
      display: none;

      @media (max-width: 576px) {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 2px 0 0 0;
      }
    }
  }
}
