.tom-von-section-main {
  overflow-y: hidden;
  margin: 0 0 31px 0;

  .tom-von-section {
    position: relative;
    overflow: hidden;
    white-space: nowrap;

    h4 {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 45.46px;
      font-weight: 900;
      line-height: 59.66px;
      letter-spacing: -0.04em;
      text-align: center;
      color: #f6f1e5;
      width: fit-content;
      margin: 0 0 22px 8.5%;
    }

    h1 {
      font-family: "Big Shoulders Inline Text", sans-serif;
      font-size: 207.4px;
      font-weight: 900;
      line-height: 165.26px;
      letter-spacing: -0.04em;
      color: #f6f1e5;
      margin: 0 0 16px -21px;
    }

    h3 {
      font-family: "Big Shoulders Display", sans-serif;
      font-size: 45.46px;
      font-weight: 900;
      line-height: 59.66px;
      letter-spacing: -0.04em;
      text-align: right;
      color: #f6f1e5;
    }
  }
}
