.the-vision-section-main {
  .the-vision-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .the-vision-content-aliognment {
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 47px;

      @media (max-width:1024px) {
        gap: 27px;
      }

      img {
        display: block;
        margin: 0 0 47px 0;
        min-width: 354px;
        min-height: 226px;

        @media (max-width:1024px) {
          min-width: 205px;
          max-width: 205px;
          min-height: 130px;
          margin: 0 0 27px 0;
        }
      }

      h1 {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 148.09px;
        font-weight: 900;
        line-height: 128.84px;
        letter-spacing: -0.06em;
        text-align: right;
        color: #1b1b1b;
        max-width: 322px;

        @media (max-width:1024px) {
          font-size: 85px;
          line-height: 74px;
          max-width: 186px;
        }
      }

      p {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        margin: 0 0 34px 0;
        color: #1b1b1b;
        max-width: 375px;
        
        @media (max-width:1024px) {
          font-size: 12px;
          line-height: 17px;
          max-width: 206px;
          margin: 0 0 20px 0;
        }
      }

      p:last-child {
        margin: 0 !important;
      }
    }
  }
}