.the-vision-section-main {
  .the-vision-section-container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .the-vision-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .the-vision-content-aliognment {
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 47px;

      img {
        display: block;
        margin: 0 0 47px 0;
        max-width: 354px;
        min-height: 226px;
      }

      h1 {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 148.09px;
        font-weight: 900;
        line-height: 128.84px;
        letter-spacing: -0.06em;
        text-align: right;
        color: #1b1b1b;
        max-width: 322px;
      }

      p {
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;

        color: #1b1b1b;
        max-width: 375px;
      }
    }
  }
}
